.row{
    --bs-gutter-x:0!important;
    -bs-gutter-x:0!important;
}

.banner-bottom-bar{
    background-color: #e53b8d;
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-arrow-left{
    font-size:30px;
    position: absolute;
    left:30px;
    z-index: 3;
}

.slider-arrow-right{
    font-size:30px;
    position: absolute;
    right:30px;
    z-index: 3;
}

.banner-benefits-title{
    color:white;
    font-weight: bold;
    font-size: 16px;
}

.banner-benefits-p{
    color:white;
    font-size: 14px;
}

.banner-benefits-text-box{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.banner-benefits-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}



.slider-content{
    color: white;
    z-index: 2;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 70%;
}


.banner-slider{
    margin-bottom:-50px;
}

.overlay::before{
    content: '';
    background-color: black;
    opacity: 0.3;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}


.slider-subtitle{
    font-size: calc(1.4rem + 0.8vw);
    font-weight: 400;
}

.slider-title{
    font-size: calc(3rem + 0.8vw);
    font-weight: bold;
}

.banner-slider{
   position: relative;
}

.slider-banner{
    width: 100%;
    height:100%;
    object-fit:cover;
    position: absolute;
    height: 600px;
}

.container-slider{
    position: relative;
    width: 100%;
    max-height: 600px;
    min-height: 600px;
}

.banner-benefits-text-box{
    padding-left:15px;
}

.banner-boottom-subcontainer{
    padding: 0px 20px;
}

@media(max-width:1024px){
    
    .banner-boottom-subcontainer{
        padding: 0px 15px;
    }
    
    .banner-benefits-img{
       width: calc(4.3rem + 1.2vw);
    }
    .banner-benefits-title{
        font-size:18px;
    }
    .banner-benefits-p{
        font-size: 16px;
    }
}

@media(max-width:780px){


    .container-slider{
        max-height: 400px;
        min-height: 400px;
    }

    .slider-subtitle{
        font-size: calc(1.5rem + 0.8vw);
        text-align: center;
    }

    .slider-title{
        font-size: calc(2.2rem + 0.5vw);
        text-align: center;
        margin-top:30px;
    }

    .banner-benefits-title{
        color:white;
        font-weight: bold;
    }
    
    .banner-benefits-img-box{
        padding:20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-benefits-img{
        width: calc(4.2rem + 1.2vw);
    }
    
    .banner-benefits-text-box{
        justify-content: center;
        align-items: center;
    }

    .banner-benefits-title{
        font-size: 22px;
    }

    .banner-benefits-p{
        color:white;
        font-size: 16px;
    }
}


